@font-face {
  font-family: operetta-light;
  src: url('../../fonts/Operetta/Fontspring-DEMO-operetta18-light.otf');
}

@font-face {
  font-family: zurich;
  src: url('../../fonts/Zurich/zurich_bt_roman.ttf');
}

@font-face {
  font-family: univers;
  src: url('../../fonts/Univers/UniversCnBold.ttf');
}
@font-face {
  font-family: univers-bold;
  src: url('../../fonts/Univers/univers-bold.TTF');
}

@font-face {
  font-family: univers-extrabold;
  src: url('../../fonts/Univers/extra-bold.ttf');
}
