// Colors
$clr1: black;
$clr2: white;
$clr3: #737373;
$clr4: #22ff00;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 948px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1024px;
$padding: 30px;
